* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;
  10px / 16px = 0.625 = 62.5%
  Percentage of user's browser font-size settings; */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* *********************** */
/* HELPER CLASSES */
/* *********************** */

.margin-right-hp {
  margin-right: 1.6rem !important;
}
